Repository hpcng/singularity, pull requests merged in 2019-12, with the labels that each got.

#4810 Replace NO_SETUID_FIXUP with KEEP_CAPS
  cmd/starter/c/starter.c
Labels: Bug, Release 3.5, Runtime

#4816 Cast Stat_t.Dev to uint64 for MIPS oddities
  pkg/util/fs/proc/proc.go
  pkg/util/loop/loop_linux.go
  pkg/util/loop/loop_linux_test.go
Labels: BuildIssue, Release 3.5, ci:e2e

#4817 Fix sandbox overlay incompatibility fallback to underlay
  internal/pkg/runtime/engine/singularity/prepare_linux.go
Labels: Bug, Regression, Release 3.5, ci:e2e

#4833 Fakeroot build and missing seccomp support
  internal/pkg/runtime/engine/fakeroot/engine_linux.go
Labels: Enhancement, ImageBuilding

#4838 Fix useless error when an element of the current working directory is a symlink
  e2e/actions/actions.go
  e2e/actions/regressions.go
  internal/pkg/util/fs/layout/manager.go
Labels: Bug, Release 3.5, Runtime

#4840 Fix fakeroot build issue due to section script location
  e2e/imgbuild/imgbuild.go
  internal/pkg/runtime/engine/imgbuild/create_linux.go
Labels: Bug, ImageBuilding, Release 3.5

#4760 Add e2e tests for various configuration directives
  e2e/config/config.go
  e2e/internal/e2e/config.go
  e2e/internal/e2e/singularitycmd.go
  e2e/suite.go
Labels: Testing, e2e

#4839 Fix fakeroot sandbox build chown error
  internal/pkg/build/assemblers/sandbox.go
  internal/pkg/build/build.go
  pkg/build/types/bundle.go
Labels: Bug, ImageBuilding, Release 3.5, ci:e2e

#4847 Cherry pick #4839 to release-3.5 for 3.5.2
  internal/pkg/build/assemblers/sandbox.go
  internal/pkg/build/build.go
  pkg/build/types/bundle.go
Labels: ci:e2e

#4850 Use a sensible hash for http(s) source caching
  cmd/internal/cli/actions.go
  e2e/actions/actions.go
  e2e/actions/regressions.go
Labels: Bug, CherryPick, ci:e2e

#4855 Fix regression with inspect command not accepting old image format
  cmd/internal/cli/inspect_linux.go
  e2e/inspect/inspect.go
  e2e/testdata/inspecter_container.sif
Labels: CLI, Regression, Release 3.5, ci:e2e

#4853 Address kernel bug issue on RHEL6 resetting mount propagation flag
  internal/pkg/runtime/engine/singularity/container_linux.go
Labels: Bug, Release 3.5, Runtime, ci:e2e

#4856 Wrap run-help around singularity exec command
  cmd/internal/cli/inspect_linux.go
  cmd/internal/cli/run_help_linux.go
  cmd/internal/cli/singularity.go
  e2e/runhelp/runhelp.go
  e2e/suite.go
Labels: Bug, CLI, Release 3.5, ci:e2e

#4861 Use nil pointer for noop DockerAuthConfig
  cmd/internal/cli/actions.go
  cmd/internal/cli/build.go
  cmd/internal/cli/build_linux.go
  cmd/internal/cli/pull.go
  cmd/internal/cli/push.go
Labels: ci:e2e

#4870 Fix --disable-cache not effective with build and actions commands
  cmd/internal/cli/actions.go
  cmd/internal/cli/build_linux.go
Labels: Bug, CLI, Release 3.5

#4888 Return current UID instead of error in namespaces.HostUID
  pkg/util/namespaces/user_linux.go
Labels: Bug, Release 3.5, Runtime, ci:e2e

#4889 Avoid use of overlay when not available in mount and oci bundle tests
  internal/pkg/util/fs/mount/mount_linux_test.go
  pkg/ocibundle/sif/bundle_linux_test.go
Labels: ci:e2e

#4884 Check for userns availability in actions_test.go
  cmd/singularity/actions_test.go
Labels: ci:e2e

#4880 Use statfs by default to retrieve mount options
  internal/pkg/runtime/engine/singularity/container_linux.go
  pkg/util/fs/proc/proc.go
Labels: Regression, Release 3.5, Runtime

#4825 Naive parallelization of e2e tests
  .circleci/config.yml
  e2e/actions/actions.go
  e2e/buildcfg/buildcfg.go
  e2e/cache/cache.go
  e2e/cmdenvvars/cmdenvvars.go
  e2e/config/config.go
  e2e/delete/delete.go
  e2e/docker/docker.go
  e2e/env/env.go
  e2e/help/help.go
  e2e/imgbuild/imgbuild.go
  e2e/inspect/inspect.go
  e2e/instance/instance.go
  e2e/instance/instance_utils.go
  e2e/internal/e2e/docker.go
  e2e/internal/e2e/image.go
  e2e/internal/e2e/singularitycmd.go
  e2e/internal/testhelper/testhelper.go
  e2e/key/key.go
  e2e/oci/oci.go
  e2e/pull/pull.go
  e2e/push/push.go
  e2e/regressions/build.go
  e2e/remote/remote.go
  e2e/run/run.go
  e2e/runhelp/runhelp.go
  e2e/security/security.go
  e2e/sign/sign.go
  e2e/suite.go
  e2e/verify/verify.go
  e2e/version/version.go
  scripts/e2e-test
Labels: Testing, ci:e2e, e2e

#4895 Correct nc args to fix TestAddDelNetworks with OpenBSD nc
  pkg/network/network_linux_test.go
Labels: ci:e2e

#4890 Updated to sif 1.0.9, and remove unnecessary function
  go.mod
  go.sum
  pkg/signing/signing.go
Labels: ci:e2e

#4881 Check symlink and bind overlap for CWD
  internal/pkg/runtime/engine/singularity/container_linux.go
Labels: Bug, Release 3.5, Runtime, ci:e2e

#4900 Skip testPersistentOverlay if no overlay support
  cmd/singularity/actions_test.go
Labels: ci:e2e

#4908 Use img instead of docker to run e2e tests registry on RHEL 6
  e2e/internal/e2e/docker.go
  e2e/testdata/Docker_registry.def
Labels: Testing, ci:e2e, e2e

#4902 Fixed OS versions/kernel req in TestDockerDefFile & e2e
  cmd/singularity/docker_test.go
  e2e/docker/docker.go
Labels: ci:e2e

#4898 Fix network_linux_test where bridge not available / setup fails on RHEL6
  pkg/network/network_linux_test.go
Labels: ci:e2e

#4909 Protect additional e2e tests needing UserNS, overlay with require.xxx
  e2e/actions/actions.go
  e2e/oci/oci.go
Labels: ci:e2e

#4634 Fix issue with /proc hidepid option
  cmd/internal/cli/actions_linux.go
  cmd/starter/c/starter.c
  internal/pkg/runtime/engine/singularity/container_linux.go
Labels: Bug, Runtime, ci:e2e

#4910 Fix e2e security capabilities regular expression match on old kernels
  e2e/security/security.go
Labels: ci:e2e, e2e

#4912 Call require.Network correctly in e2e ACTIONS/network
  e2e/actions/actions.go
Labels: ci:e2e, e2e

#4914 AllowSetuid no test requires user namespace to succeed
  e2e/config/config.go
Labels: ci:e2e, e2e

#4916 Fix e2e config test with grep match
  e2e/config/config.go
Labels: ci:e2e, e2e
