Repository hpcng/singularity, pull requests merged in 2019-08, with the labels that each got.

#4068 Honor SINGULARITY environment variables during SIF conversion
  cmd/internal/cli/actions_linux.go
  pkg/image/unpacker/squashfs.go
Labels: Bug, CLI

#4053 Fixed Shub URI issue with custom registry subpath
  pkg/client/shub/pull.go
  pkg/client/shub/util.go
Labels: Enhancement, Release 3.4

#4073 [3.4] Fix issue when exporting a key and the keyring files do not exist
  pkg/sypgp/sypgp.go
Labels: Release 3.4

#4146 Update the machine executor image from ubuntu 14.04 to ubuntu 16.04
  .circleci/config.yml
Labels: ContinuousIntegration

#4144 [e2e] Implement the default creation of a temporary keyring
  e2e/internal/e2e/env.go
  e2e/internal/e2e/fileutil.go
  e2e/internal/e2e/singularitycmd.go
  e2e/pull/pull.go
Labels: Testing, e2e

#4121 Add '--long-list' option to 'key search'
  cmd/internal/cli/key.go
  cmd/internal/cli/key_search.go
  pkg/sypgp/sypgp.go
  pkg/sypgp/sypgp_test.go
Labels: Enhancement, Release 3.4

#4147 Detect errors due an incompatible version of cryptsetup
  pkg/util/crypt/crypt_dev.go
  pkg/util/crypt/crypt_dev_test.go
Labels: Testing

#4159 Add a e2e test for the singularity version --help command
  e2e/version/version.go
Labels: Testing, e2e

#4160 Improve e2e coverage for the verify command
  e2e/internal/e2e/fileutil.go
  e2e/internal/e2e/imageverify.go
  e2e/verify/verify.go
Labels: Testing, e2e

#4165 Extend e2e framework to safely give control over SINGULARITY_CACHE_DIR to test developers
  e2e/cmdenvvars/cacheDir.go
  e2e/docker/docker.go
  e2e/imgbuild/imgbuild.go
  e2e/internal/e2e/env.go
  e2e/internal/e2e/imagebuild.go
  e2e/internal/e2e/imageverify.go
  e2e/internal/e2e/singularitycmd.go
  e2e/oci/oci.go
  e2e/suite.go
Labels: Testing, e2e

#4040 [3.3] Cherry-pick #4039, and #4042 for 3.3
  cmd/internal/cli/actions.go
  cmd/internal/cli/inspect_linux.go
  cmd/internal/cli/singularity_test.go
  cmd/plugin_manifestgen/main.go
  internal/app/singularity/pull.go
  internal/pkg/build/sources/conveyorPacker_shub.go
  internal/pkg/instance/instance_linux_test.go
  internal/pkg/oras/oras.go
  internal/pkg/runtime/engines/fakeroot/engine_linux.go
  pkg/client/shub/api.go
  pkg/client/shub/pull.go
  pkg/client/shub/pull_test.go
  pkg/client/shub/util.go
  pkg/client/shub/util_test.go
  pkg/sypgp/sypgp.go
Labels: Bug, Release 3.3.0

#4183 [E2E] Let a developer specify the value of SINGULARRITY_SYPGPDIR
  e2e/cmdenvvars/cmdenvvars.go
  e2e/internal/e2e/singularitycmd.go
Labels: Testing, e2e

#4120 Improved documentation for 'pull'
  docs/content.go
Labels: Documentation, Enhancement

#4185 Added missing copyright header
  e2e/cache/cache.go
Labels: Release 3.4

#4194 Fixed panic when 'key search' on a open-keyserver
  pkg/sypgp/sypgp.go
Labels: Bug, Release 3.4

#4188 [e2e] Add a test for the SINGULARITY_DISABLE_CACHE environment variable
  e2e/cmdenvvars/cmdenvvars.go
  e2e/internal/e2e/env.go
  e2e/internal/e2e/singularitycmd.go
Labels: Testing, WIP, e2e

#4149 Update the dist from trusty to xenial
  .travis.yml
  .travis/before_install
Labels: ContinuousIntegration, Testing

#4211 Enable seccomp during oci mount testing
  e2e/oci/oci.go
Labels: Testing, e2e

#4204 Implement support for multi-stage remote builds
  cmd/internal/cli/build.go
  internal/pkg/build/remotebuilder/remotebuilder.go
  internal/pkg/build/remotebuilder/remotebuilder_test.go
  pkg/build/legacy/definition.go
  pkg/build/legacy/parser/deffile.go
  pkg/build/legacy/parser/deffile_test.go
  pkg/build/legacy/parser/testdata_bad/bad_section
  pkg/build/legacy/parser/testdata_bad/empty
  pkg/build/legacy/parser/testdata_bad/json_input_1
  pkg/build/legacy/parser/testdata_bad/json_input_2
  pkg/build/legacy/parser/testdata_good/arch/arch
  pkg/build/legacy/parser/testdata_good/arch/arch.json
  pkg/build/legacy/parser/testdata_good/arch/arch_sections.json
  pkg/build/legacy/parser/testdata_good/arch/result
  pkg/build/legacy/parser/testdata_good/busybox/busybox
  pkg/build/legacy/parser/testdata_good/busybox/busybox.json
  pkg/build/legacy/parser/testdata_good/busybox/busybox_sections.json
  pkg/build/legacy/parser/testdata_good/busybox/result
  pkg/build/legacy/parser/testdata_good/debootstrap/debootstrap
  pkg/build/legacy/parser/testdata_good/debootstrap/debootstrap.json
  pkg/build/legacy/parser/testdata_good/debootstrap/debootstrap_sections.json
  pkg/build/legacy/parser/testdata_good/debootstrap/result
  pkg/build/legacy/parser/testdata_good/docker/docker
  pkg/build/legacy/parser/testdata_good/docker/docker.json
  pkg/build/legacy/parser/testdata_good/docker/docker_sections.json
  pkg/build/legacy/parser/testdata_good/localimage/localimage
  pkg/build/legacy/parser/testdata_good/localimage/localimage.json
  pkg/build/legacy/parser/testdata_good/localimage/localimage_sections.json
  pkg/build/legacy/parser/testdata_good/localimage/result
  pkg/build/legacy/parser/testdata_good/multiplescripts/multiplescripts
  pkg/build/legacy/parser/testdata_good/multiplescripts/multiplescripts.json
  pkg/build/legacy/parser/testdata_good/noheader/noheader
  pkg/build/legacy/parser/testdata_good/noheader/noheader.json
  pkg/build/legacy/parser/testdata_good/noheadercomments/noheadercomments
  pkg/build/legacy/parser/testdata_good/noheadercomments/noheadercomments.json
  pkg/build/legacy/parser/testdata_good/noheaderwhitespace/noheaderwhitespace
  pkg/build/legacy/parser/testdata_good/noheaderwhitespace/noheaderwhitespace.json
  pkg/build/legacy/parser/testdata_good/scratch/result
  pkg/build/legacy/parser/testdata_good/scratch/scratch
  pkg/build/legacy/parser/testdata_good/scratch/scratch.json
  pkg/build/legacy/parser/testdata_good/scratch/scratch_sections.json
  pkg/build/legacy/parser/testdata_good/shub/result
  pkg/build/legacy/parser/testdata_good/shub/shub
  pkg/build/legacy/parser/testdata_good/shub/shub.json
  pkg/build/legacy/parser/testdata_good/shub/shub_sections.json
  pkg/build/legacy/parser/testdata_good/yum/result
  pkg/build/legacy/parser/testdata_good/yum/yum
  pkg/build/legacy/parser/testdata_good/yum/yum.json
  pkg/build/legacy/parser/testdata_good/yum/yum_sections.json
  pkg/build/legacy/parser/testdata_good/zypper/result
  pkg/build/legacy/parser/testdata_good/zypper/zypper
  pkg/build/legacy/parser/testdata_good/zypper/zypper.json
  pkg/build/legacy/parser/testdata_good/zypper/zypper_sections.json
Labels: ImageBuilding, Release 3.4

#3968 [E2E] tests for 'key' (take 2!)
  e2e/key/key.go
  e2e/suite.go
Labels: Release 3.4, Testing, e2e

#4196 Ensure image permission of 755 when overriding the image
  cmd/internal/cli/pull.go
  internal/app/singularity/pull.go
Labels: Bug, Release 3.4

#4220 Improve coverage of the e2e help test.
  e2e/help/help.go
Labels: Testing, e2e

#4205 Improving 'key search --long-list' to use tabwriter
  pkg/sypgp/sypgp.go
Labels: Enhancement, Release 3.4

#4228 Make sure the cache is not use in the context of a pull --disable-cache command
  cmd/internal/cli/actions.go
  cmd/internal/cli/build_linux.go
  cmd/internal/cli/cache_clean_linux.go
  cmd/internal/cli/cache_list_linux.go
  cmd/internal/cli/pull.go
  internal/app/singularity/pull.go
  internal/pkg/client/cache/dir.go
Labels: Bug

#4226 Don't fail when .singularity cannot be written
  cmd/internal/cli/singularity.go
Labels: BehaviorChange, Bug, Release 3.4

#3794 Add some unit testing to internal/app/starter
  cmd/starter/main_linux.go
  internal/app/starter/master_linux.go
  internal/app/starter/master_linux_test.go
  internal/pkg/runtime/engines/singularity/process_linux.go
Labels: Testing

#4219 Add e2e test for the sign command
  e2e/sign/sign.go
  e2e/suite.go
Labels: Testing, e2e

#4212 Add a e2e test for pull --disable-cache
  e2e/pull/pull.go
Labels: Testing, e2e

#4222 Finish the implementation of e2e tests for the cache command
  e2e/cache/cache.go
  e2e/internal/e2e/fileutil.go
Labels: Testing, e2e

#4250 Don't bind directory set by --pwd flag, use the current instead
  internal/pkg/runtime/engines/singularity/container_linux.go
Labels: BehaviorChange, Bug, Runtime

#4248 Prevent build engine from mixing container and host libraries
  e2e/regressions/build.go
  e2e/suite.go
  e2e/testdata/regressions/issue_4203.def
  internal/pkg/runtime/engines/imgbuild/process_linux.go
Labels: Bug, ImageBuilding, Regression

#4249 Use session home directory if user home directory doesn't exist
  internal/pkg/runtime/engines/singularity/container_linux.go
Labels: Bug, Runtime

#4197 Added back missing code from #3789
  internal/app/singularity/pull.go
Labels: Release 3.4

#4198 Make sure the cache is not used with a read-only target directory
  cmd/internal/cli/actions.go
  e2e/cmdenvvars/cmdenvvars.go
  e2e/run/run.go
  e2e/suite.go
  internal/pkg/client/cache/cache_test.go
  internal/pkg/client/cache/dir.go
  internal/pkg/client/cache/dir_test.go
  internal/pkg/client/cache/library_test.go
  internal/pkg/client/cache/net_test.go
  internal/pkg/client/cache/oci_test.go
  internal/pkg/client/cache/oras_test.go
  internal/pkg/client/cache/shub_test.go
  internal/pkg/util/fs/helper.go
  internal/pkg/util/fs/helper_linux_test.go
Labels: BehaviorChange, Bug, Release 3.4

#4257 Install debootstrap so that tests that depend on it are not skipped
  .circleci/config.yml
Labels: ContinuousIntegration

#4207 Allow users to specify the key length of newpair
  cmd/internal/cli/key.go
  cmd/internal/cli/key_newpair.go
  pkg/sypgp/sypgp.go
  pkg/sypgp/sypgp_test.go
Labels: CLI, Enhancement, Release 3.4

#4267 Disable build tests that use debootstrap
  .circleci/config.yml
Labels: ContinuousIntegration

#4259 Basic code for e2e build tests for encryption
  e2e/imgbuild/imgbuild.go
Labels: Testing, e2e

#4274 [e2e oci] add tests for the help option
  e2e/oci/oci.go
Labels: Testing, e2e

#4286 e2e: Ignore nil SingularityCmdResultOp in ExpectExit to avoid panic
  e2e/internal/e2e/singularitycmd.go
Labels: e2e

#4275 Check overlay lower/upper filesystem compatibility for sandbox images
  .golangci.yml
  internal/pkg/runtime/engines/singularity/container_linux.go
  internal/pkg/util/fs/overlay/overlay.go
  internal/pkg/util/fs/overlay/overlay_test.go
Labels: Enhancement, Runtime

#4282 Improvements and bug fixes for #4179
  internal/app/singularity/registry.go
  internal/pkg/util/fs/helper.go
Labels: Bug, Release 3.4

#4297 Fail if trying to push to a unsupported transport type
  cmd/internal/cli/push.go
Labels: Bug, Release 3.4

#4292 Add e2e test for building encrypted containers with PEM file
  e2e/imgbuild/imgbuild.go
  pkg/util/crypt/rsa.go
Labels: Encrypted Containers, Testing, e2e

#4233 [E2E] Port security tests (take 2)
  e2e/security/security.go
  e2e/security/testdata/seccomp-profile.json
  e2e/suite.go
Labels: Release 3.4, Testing, e2e

#4300 Add e2e tests for the run command of encrypted containers
  e2e/imgbuild/imgbuild.go
  e2e/internal/e2e/encrypt.go
  e2e/run/run.go
  pkg/util/crypt/rsa.go
Labels: Encrypted Containers, Testing, e2e

#4289 Remove prompt for dry run cache clean
  cmd/internal/cli/cache_clean_linux.go
  e2e/cache/cache.go
  internal/app/singularity/cache_clean_linux.go
Labels: Bug, Release 3.4

#4069 Lock ext3 image partitions and prevent them from concurrent writes
  internal/pkg/runtime/engines/singularity/prepare_linux.go
  pkg/image/image.go
  pkg/util/fs/lock/const.go
  pkg/util/fs/lock/const_linux.go
  pkg/util/fs/lock/lock.go
  pkg/util/fs/lock/lock_test.go
Labels: Enhancement, Runtime

#4313 e2e profiles
  e2e/actions/actions.go
  e2e/cache/cache.go
  e2e/cmdenvvars/cmdenvvars.go
  e2e/docker/docker.go
  e2e/env/env.go
  e2e/help/help.go
  e2e/imgbuild/imgbuild.go
  e2e/inspect/inspect.go
  e2e/instance/instance.go
  e2e/instance/instance_utils.go
  e2e/internal/e2e/docker.go
  e2e/internal/e2e/encrypt.go
  e2e/internal/e2e/image.go
  e2e/internal/e2e/imagebuild.go
  e2e/internal/e2e/imageexec.go
  e2e/internal/e2e/imagepush.go
  e2e/internal/e2e/imageverify.go
  e2e/internal/e2e/profile.go
  e2e/internal/e2e/profile/profile.go
  e2e/internal/e2e/profile/profile_test.go
  e2e/internal/e2e/singularitycmd.go
  e2e/key/key.go
  e2e/oci/oci.go
  e2e/pull/pull.go
  e2e/push/push.go
  e2e/regressions/build.go
  e2e/remote/remote.go
  e2e/run/run.go
  e2e/security/security.go
  e2e/sign/sign.go
  e2e/suite.go
  e2e/verify/verify.go
  e2e/version/version.go
Labels: e2e

#4325 Fix cli to use pem path envvar
  cmd/internal/cli/build_linux.go
Labels: Bug, CLI, Encrypted Containers, Release 3.4

#4337 Fix a problem with the e2e run tests when tests run concurrently
  e2e/run/run.go
Labels: Bug, e2e

#4338 Document engine operations interface for stage 1
  cmd/starter/c/starter.c
  internal/app/starter/stage_linux.go
  internal/pkg/runtime/engine/config/config.go
  internal/pkg/runtime/engine/config/oci/command.go
  internal/pkg/runtime/engine/config/parser.go
  internal/pkg/runtime/engine/config/starter/starter_linux.go
  internal/pkg/runtime/engine/engine_linux.go
  internal/pkg/runtime/engine/fakeroot/engine_linux.go
  internal/pkg/runtime/engine/singularity/engine_linux.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
Labels: Documentation, Runtime, TechnicalDebt

#4330 Fix e2e seccomp security tests
  e2e/security/security.go
  internal/pkg/test/tool/require/require.go
Labels: Bug, e2e

#4284 search: Print the container ID if theres no tag
  internal/pkg/library/library.go
Labels: Enhancement, Release 3.4

#4307 Improve e2e coverage for the key command
  e2e/key/key.go
Labels: Testing, e2e

#4333 Fix fakeroot build with zypper bootstrap
  internal/pkg/build/sources/conveyorPacker_zypper.go
Labels: Bug, ImageBuilding

#4343 e2e run: a test with an encrypted container is expected to fail, not pass
  e2e/run/run.go
Labels: Bug, e2e

#4346 Add singularity config fakeroot command to manage fakeroot user mappings
  cmd/internal/cli/actions_linux.go
  cmd/internal/cli/config_fakeroot_linux.go
  cmd/internal/cli/config_linux.go
  cmd/internal/cli/oci_linux.go
  cmd/internal/cli/plugin_disable_linux.go
  cmd/internal/cli/plugin_enable_linux.go
  cmd/internal/cli/plugin_install_linux.go
  cmd/internal/cli/plugin_linux.go
  cmd/internal/cli/plugin_uninstall_linux.go
  docs/content.go
  internal/app/singularity/config_fakeroot_linux.go
  internal/pkg/fakeroot/fakeroot.go
Labels: Enhancement, Release 3.4

#4349 Document engine operations
  cmd/starter/c/starter.c
  internal/app/starter/master_linux.go
  internal/app/starter/rpc_linux.go
  internal/pkg/runtime/engine/config/oci/config.go
  internal/pkg/runtime/engine/config/starter/starter_linux.go
  internal/pkg/runtime/engine/engine_linux.go
  internal/pkg/runtime/engine/imgbuild/config/config.go
  internal/pkg/runtime/engine/imgbuild/create_linux.go
Labels: Documentation, Runtime, TechnicalDebt

#4351 Increase the timeout for the execution of e2e tests
  scripts/go-test.in
Labels: e2e

#4352 Fix a problem with the e2e sign test
  e2e/sign/sign.go
Labels: Bug, Testing, e2e

#4355 [E2E] Attempt to push to a non-supported transport
  e2e/push/push.go
Labels: Enhancement, Release 3.5, Testing, e2e
