Repository hpcng/singularity, pull requests merged in 2020-06, with the labels that each got.

#5358 Switch to multi-arch test docker containers
  cmd/singularity/docker_test.go
  cmd/singularity/env_test.go
  e2e/docker/docker.go
  e2e/env/env.go
  e2e/imgbuild/regressions.go
  internal/pkg/test/tool/require/require.go
Labels: ci:e2e

#5362 Give RPC server CAP_IPC_LOCK for cryptsetup
  cmd/starter/c/starter.c
Labels: Regression, encryption

#5367 Use provided arch in library pull
  internal/pkg/client/library/pull.go
Labels: ci:e2e

#5369 Check correct descriptor for e2e encryption tests
  e2e/imgbuild/imgbuild.go
Labels: ci:e2e

#5371 Raise `max loop devices` in e2e/config test
  e2e/config/config.go
Labels: ci:e2e

#5359 Improve tests on arm64/ppc64le
  cmd/singularity/actions_test.go
  cmd/singularity/build_test.go
  cmd/singularity/docker_test.go
  cmd/singularity/instance_test.go
  cmd/singularity/pull_test.go
  cmd/singularity/security_test.go
  e2e/actions/actions.go
  e2e/docker/docker.go
  e2e/imgbuild/imgbuild.go
  e2e/inspect/inspect.go
  e2e/instance/instance.go
  e2e/internal/e2e/docker.go
  e2e/internal/e2e/image.go
  e2e/internal/e2e/init/init_linux.go
  e2e/pull/pull.go
  e2e/run/run.go
  e2e/sign/sign.go
  e2e/testdata/Singularity
  e2e/testdata/inspecter_container.def
  e2e/testdata/regressions/issue_4583.def
  e2e/testdata/regressions/issue_5315.def
  e2e/testdata/seccomp-profile.json
  e2e/verify/verify.go
  examples/instances/Singularity
  examples/library/Singularity
  examples/multistage/Singularity
  internal/pkg/build/sources/conveyorPacker_arch_test.go
  internal/pkg/build/sources/conveyorPacker_busybox_test.go
  internal/pkg/build/sources/conveyorPacker_yum_test.go
  internal/pkg/test/tool/require/require.go
Labels: ci:e2e

#5392 Use new opencontainers/umoci location for umoci
  examples/plugins/cli-plugin/go.sum
  examples/plugins/config-plugin/go.sum
  examples/plugins/log-plugin/go.sum
  examples/plugins/ubuntu-userns-overlay-plugin/go.sum
  go.mod
  go.sum
  internal/pkg/build/sources/oci_unpack_linux.go
Labels: ci:e2e

#5394 Fix performance regression due to unwanted globbing in shell interpreter
  internal/pkg/util/fs/files/action_scripts.go
Labels: Bug, Regression, ci:e2e
