Repository hpcng/singularity, pull requests merged in 2020-02, with the labels that each got.

#4998 Reorganize singularity engine configuration to reduce plugin binary size
  cmd/internal/cli/actions_linux.go
  e2e/internal/e2e/config.go
  etc/conf/gen.go
  internal/app/singularity/config_global_linux.go
  internal/pkg/runtime/engine/fakeroot/engine_linux.go
  internal/pkg/runtime/engine/singularity/cleanup_linux.go
  internal/pkg/runtime/engine/singularity/container_linux.go
  internal/pkg/runtime/engine/singularity/create_linux.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
  internal/pkg/runtime/engine/singularity/process_linux.go
  internal/pkg/util/bin/bin.go
  internal/pkg/util/fs/squashfs/squashfs.go
  pkg/runtime/engine/config/config.go
  pkg/runtime/engine/singularity/config/config.go
  pkg/runtime/engine/singularity/config/config_linux.go
  pkg/runtime/engine/singularity/config/config_unsupported.go
  pkg/util/singularityconf/config.go
  pkg/util/singularityconf/parser.go
  pkg/util/singularityconf/parser_test.go
Labels: Enhancement, Runtime

#4994 Replace github.com/opencontainers/runtime-tools dependency
  LICENSE-APACHE-2.0
  NOTICE-APACHE-2.0
  cmd/internal/cli/actions_linux.go
  e2e/oci/oci.go
  go.mod
  internal/app/singularity/oci_create_linux.go
  internal/pkg/runtime/engine/config/oci/config.go
  internal/pkg/runtime/engine/config/oci/generate/generate.go
  internal/pkg/runtime/engine/config/oci/generate/generate_test.go
  internal/pkg/runtime/engine/fakeroot/engine_linux.go
  internal/pkg/runtime/engine/imgbuild/engine_linux.go
  internal/pkg/runtime/engine/imgbuild/process_linux.go
  internal/pkg/runtime/engine/oci/create_linux.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
  internal/pkg/runtime/engine/singularity/process_linux.go
  internal/pkg/security/seccomp/seccomp_linux.go
  internal/pkg/security/seccomp/seccomp_linux_test.go
  internal/pkg/security/seccomp/seccomp_unsupported.go
  internal/pkg/util/env/clean.go
  internal/pkg/util/env/clean_test.go
  pkg/ocibundle/sif/bundle_linux.go
  pkg/ocibundle/sif/bundle_linux_test.go
  pkg/ocibundle/tools/oci.go
  pkg/util/capabilities/process_linux.go
  pkg/util/capabilities/process_linux_test.go
Labels: ci:e2e

#4948 Add image bind support
  cmd/internal/cli/actions_linux.go
  e2e/actions/actions.go
  internal/pkg/build/sources/packer_sif_linux.go
  internal/pkg/runtime/engine/singularity/container_linux.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
  pkg/image/ext3.go
  pkg/image/image.go
  pkg/image/image_test.go
  pkg/image/sandbox.go
  pkg/image/sif.go
  pkg/image/squashfs.go
  pkg/ocibundle/sif/bundle_linux.go
  pkg/runtime/engine/singularity/config/config.go
Labels: Enhancement, Runtime, ci:e2e

#5016 Cherry pick test fixes to 3.5.3
  cmd/singularity/actions_test.go
  cmd/singularity/docker_test.go
  e2e/actions/actions.go
  e2e/config/config.go
  e2e/docker/docker.go
  e2e/internal/e2e/config.go
  e2e/internal/e2e/docker.go
  e2e/internal/e2e/singularitycmd.go
  e2e/suite.go
  e2e/testdata/Docker_registry.def
  internal/pkg/util/fs/mount/mount_linux_test.go
  pkg/network/network_linux_test.go
  pkg/ocibundle/sif/bundle_linux_test.go
Labels: ci:e2e

#5021 Fix SINGULARITYENV_ variables to always take precedence over host variables
  CHANGELOG.md
  internal/pkg/util/env/clean.go
  internal/pkg/util/env/clean_test.go
Labels: Bug, Runtime

#5034 Fix instance join for instances started with --boot
  e2e/instance/instance.go
  e2e/instance/regressions.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
Labels: Bug, Regression, Runtime

#5035 Cherry pick #5034 to release-3.5
  CHANGELOG.md
  e2e/instance/instance.go
  e2e/instance/regressions.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
Labels: ci:e2e

#5037 Remove implicit --pid and --ipc options for instance start command
  cmd/internal/cli/action_flags.go
Labels: CLI

#5044 Cherry pick #5043 to release 3.5
  CHANGELOG.md
  go.mod
  go.sum
Labels: ci:e2e

#5045 Fix e2e instance profile race
  e2e/instance/instance.go
Labels: Bug, ci:e2e, e2e

#5049 CI: Add a short-integration-test make target
  .circleci/config.yml
  mlocal/frags/Makefile.stub
Labels: ci:e2e

#5055 Provide a way to determine plugin installation path
  cmd/internal/cli/plugin_install_linux.go
  docs/plugin.go
  e2e/plugin/plugin.go
  internal/app/singularity/plugin_compile_linux.go
  internal/app/singularity/plugin_install_linux.go
  internal/pkg/plugin/binary.go
  pkg/plugin/plugin.go
Labels: Plugin, ci:e2e

#5028 Add embedded shell interpreter
  cmd/internal/cli/action_flags.go
  cmd/internal/cli/actions_linux.go
  e2e/actions/actions.go
  e2e/env/env.go
  e2e/testdata/Singularity
  go.mod
  go.sum
  internal/pkg/runtime/engine/singularity/container_linux.go
  internal/pkg/runtime/engine/singularity/process_linux.go
  internal/pkg/util/env/clean.go
  internal/pkg/util/env/clean_test.go
  internal/pkg/util/fs/files/action_scripts.go
  internal/pkg/util/shell/interpreter/interpreter.go
  internal/pkg/util/shell/interpreter/interpreter_test.go
  pkg/runtime/engine/singularity/config/config.go
Labels: Enhancement, Runtime, ci:e2e

#5054 Add image driver interface, configuration and plugin callback
  examples/plugins/ubuntu-userns-overlay-plugin/go.mod
  examples/plugins/ubuntu-userns-overlay-plugin/go.sum
  examples/plugins/ubuntu-userns-overlay-plugin/main.go
  examples/plugins/ubuntu-userns-overlay-plugin/singularity_source
  internal/pkg/runtime/engine/singularity/cleanup_linux.go
  internal/pkg/runtime/engine/singularity/container_linux.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
  internal/pkg/runtime/engine/singularity/rpc/args.go
  internal/pkg/runtime/engine/singularity/rpc/client/client.go
  internal/pkg/runtime/engine/singularity/rpc/server/server_linux.go
  pkg/image/driver.go
  pkg/plugin/callback/runtime/engine/singularity/singularity.go
  pkg/util/singularityconf/config.go
Labels: Enhancement, Plugin, Runtime, ci:e2e

#5074 Fix e2e test broken by #5064
  e2e/imgbuild/imgbuild.go
Labels: ci:e2e

#5073 Use github.com/vbauerster/mpb for progress bars
  go.mod
  go.sum
  internal/app/singularity/pull.go
  internal/app/singularity/push.go
  pkg/client/net/pull.go
  pkg/client/shub/pull.go
Labels: ci:e2e
