Repository hpcng/singularity, pull requests merged in 2020-10, with the labels that each got.

#5596 Move CI to Ubuntu 20.04 and Go 1.14.9
  .circleci/config.yml
  INSTALL.md
Labels: ContinuousIntegration, ci:e2e

#5601 Fix remote e2e tests and default remote logic within CLI
  cmd/internal/cli/singularity.go
  e2e/remote/remote.go
  internal/app/singularity/remote_use.go
Labels: Bug, ci:e2e, e2e

#5619 fix: Support double quoted filenames in %files sections
  internal/pkg/build/files/copy_test.go
  internal/pkg/build/files/files.go
  pkg/build/types/parser/deffile.go
  pkg/build/types/parser/deffile_test.go
  pkg/build/types/parser/testdata_good/quotedfiles/quotedfiles
  pkg/build/types/parser/testdata_good/quotedfiles/quotedfiles.json
Labels: ci:e2e

#5136 Grab all inspect metadata and add them as a SIF descriptor.
  e2e/actions/actions.go
  e2e/imgbuild/imgbuild.go
  internal/pkg/build/assemblers/sif.go
  internal/pkg/build/metadata.go
  internal/pkg/build/sources/conveyorPacker_oci.go
  internal/pkg/build/sources/packer_sif_linux.go
  pkg/image/image_test.go
  pkg/image/sif.go
  pkg/ocibundle/sif/bundle_linux.go
Labels: ci:e2e

#5137 Read inspect metadata from inspect-metadata.json SIF descriptor
  cmd/internal/cli/inspect.go
  e2e/inspect/inspect.go
Labels: ci:e2e

#5625 Copy app metadata when listing apps
  cmd/internal/cli/inspect.go
Labels: ci:e2e

#5624 Record build-arch as a label with build host architecture
  internal/pkg/build/metadata.go
Labels: ci:e2e

#5623 Use powers of 1024 in cache list -v sizes
  internal/app/singularity/cache_list_linux.go
Labels: ci:e2e

#5632 Refine remote login flow where token already exists
  internal/app/singularity/remote_login.go
  internal/pkg/remote/endpoint/token.go
  internal/pkg/remote/remote_test.go
  internal/pkg/util/auth/auth_test.go
  internal/pkg/util/auth/token.go
Labels: ci:e2e

#5635 Don't install old golangci-lint in individual CI jobs
  .circleci/config.yml
Labels: ContinuousIntegration

#5633 Don't fail on enable fusemount=no when no fuse mounts needed
  e2e/actions/actions.go
  e2e/actions/regressions.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
Labels: ci:e2e

#5645 fix: pull OCI sources to correct location when cache is disabled
  e2e/pull/pull.go
  internal/pkg/client/oci/pull.go
Labels: ci:e2e

#5650 Ensure files staged into build do not match distro package content
  e2e/imgbuild/imgbuild.go
  e2e/imgbuild/regressions.go
  e2e/testdata/regressions/issue_5250.def
  internal/pkg/build/util.go
Labels: ci:e2e

#5649 Add -D/--description flag for library pushes
  cmd/internal/cli/push.go
  internal/app/singularity/push.go
Labels: ci:e2e

#5657 For actions, defer cache init until we know we need it
  cmd/internal/cli/actions.go
Labels: ci:e2e

#5637 Add global keyring management for ECL
  cmd/internal/cli/key.go
  cmd/internal/cli/key_export.go
  cmd/internal/cli/key_import.go
  cmd/internal/cli/key_list.go
  cmd/internal/cli/key_pull.go
  cmd/internal/cli/key_push.go
  cmd/internal/cli/key_remove.go
  cmd/internal/cli/pgp.go
  dist/rpm/singularity.spec.in
  docs/content.go
  e2e/ecl/ecl.go
  e2e/internal/e2e/ecl_key.go
  e2e/internal/e2e/ecl_key_linux.go
  e2e/key/key.go
  e2e/suite.go
  e2e/testdata/ecl-pgpkeys/key1.asc
  e2e/testdata/ecl-pgpkeys/key2.asc
  e2e/testdata/ecl-pgpkeys/pubkey1.asc
  e2e/testdata/ecl-pgpkeys/pubkey2.asc
  etc/global-pgp-public
  internal/app/singularity/verify.go
  internal/pkg/runtime/engine/singularity/prepare_linux.go
  internal/pkg/syecl/syecl.go
  internal/pkg/syecl/syecl_test.go
  mlocal/frags/build_runtime.mk
  pkg/sypgp/keyring.go
  pkg/sypgp/sypgp.go
  pkg/sypgp/sypgp_test.go
Labels: CLI, Enhancement, ci:e2e

#5658 Update Sif layer mediaType for ORAS
  e2e/pull/pull.go
  internal/pkg/client/oras/oras.go
Labels: ci:e2e

#5669 Reset environment while retrieving library dependencies for unsquashfs sandbox
  pkg/image/unpacker/squashfs_singularity.go
Labels: ci:e2e

#5673 Authenticated CI pulls to avoid DockerHub rate limits
  .circleci/config.yml
  e2e/internal/e2e/dockerhub_auth.go
  e2e/suite.go
  internal/pkg/build/assemblers/sandbox_test.go
  internal/pkg/build/assemblers/sif_test.go
  internal/pkg/build/sources/conveyorPacker_oci_test.go
  mlocal/frags/Makefile.stub
  scripts/ci-docker-run
  scripts/ci-rpm-build-test
  scripts/e2e-test
Labels: ci:e2e

#5674 unsquashfs - don't extract xattrs where not supported by fs
  e2e/imgbuild/imgbuild.go
  e2e/imgbuild/regressions.go
  pkg/image/unpacker/squashfs.go
  pkg/image/unpacker/squashfs_singularity.go
  pkg/image/unpacker/squashfs_test.go
Labels: ci:e2e
