Repository hpcng/singularity, pull requests merged in 2020-12, with the labels that each got.

#5745 e2e: Prepare docker-registry first, to avoid instance/oci errors
  e2e/actions/actions.go
  e2e/docker/docker.go
  e2e/imgbuild/imgbuild.go
  e2e/imgbuild/regressions.go
  e2e/internal/e2e/docker.go
  e2e/pull/pull.go
  e2e/push/push.go
  e2e/remote/remote.go
  e2e/suite.go
Labels: e2e

#5735 Allow failure of /sys/fs/selinux remount on kernel 5.9+
  internal/pkg/runtime/engine/fakeroot/engine_linux.go
Labels: ci:e2e

#5761 Fix loop devices file descriptor leak when shared loop devices is enabled
  pkg/util/loop/loop_linux.go
Labels: Bug, ci:e2e

#5739 e2e/security - compare to root CapEff, not regex
  e2e/security/security.go
  pkg/util/capabilities/process_unsupported.go
Labels: ci:e2e

#5769 Switch from img to skopeo for e2e registry prep
  e2e/testdata/Docker_registry.def
Labels: ci:e2e
