Repository hpcng/singularity, pull requests merged in 2020-11, with the labels that each got.

#5659 Verify SIF sources at build, optional Fingerprint check
  cmd/internal/cli/build.go
  cmd/internal/cli/build_darwin.go
  cmd/internal/cli/build_linux.go
  e2e/ecl/ecl.go
  e2e/imgbuild/imgbuild.go
  internal/app/singularity/verify.go
  internal/app/singularity/verify_test.go
  internal/pkg/build/build.go
  internal/pkg/build/sources/conveyorPacker_library.go
  internal/pkg/build/sources/conveyorPacker_local.go
  internal/pkg/build/sources/conveyorPacker_oras.go
  internal/pkg/build/sources/conveyorPacker_shub.go
  internal/pkg/build/sources/verify_sif.go
  pkg/build/types/bundle.go
  pkg/build/types/parser/deffile.go
  pkg/build/types/parser/deffile_test.go
  pkg/build/types/parser/testdata_good/fingerprint/fingerprint
  pkg/build/types/parser/testdata_good/fingerprint/fingerprint.json
  pkg/build/types/parser/testdata_good/fingerprint/fingerprint_sections.json
  pkg/build/types/parser/testdata_good/fingerprint/result
Labels: ci:e2e

#5692 Fix failure with unsquashfs >= 4.4 when extracting pseudo devices as a non root user
  e2e/actions/actions.go
  e2e/actions/regressions.go
  e2e/imgbuild/imgbuild.go
  e2e/imgbuild/regressions.go
  e2e/testdata/Singularity
  pkg/image/unpacker/squashfs.go
  pkg/image/unpacker/squashfs_singularity.go
Labels: Bug, ci:e2e

#5693 Clean comments from %file args before use
  e2e/imgbuild/imgbuild.go
  e2e/imgbuild/regressions.go
  internal/pkg/build/stage.go
Labels: ci:e2e

#5683 GPU code refactor and basic e2e tests
  e2e/actions/actions.go
  e2e/actions/regressions.go
  e2e/gpu/gpu.go
  e2e/gpu/regressions.go
  e2e/suite.go
  go.mod
  go.sum
  internal/pkg/test/tool/require/require_linux.go
  internal/pkg/test/tool/require/require_unsupported.go
  pkg/util/gpu/nvidia.go
  pkg/util/gpu/paths.go
  pkg/util/gpu/paths_test.go
  pkg/util/gpu/rocm.go
  pkg/util/gpu/testdata/testliblist.conf
Labels: ci:e2e

#5699 Fix loop device file descriptor leak for ocibundle package
  pkg/ocibundle/sif/bundle_linux.go
  pkg/ocibundle/tools/loop.go
  pkg/util/loop/loop.go
  pkg/util/loop/loop_linux.go
  pkg/util/loop/loop_unsupported.go
Labels: Bug, ci:e2e

#5700 Remove TravisCI badge from README.md
  README.md
Labels: ContinuousIntegration

#5717 e2e - pass docker hub credentials through sudo call
  scripts/e2e-test
Labels: ci:e2e

#5736 Support unsquashfs 4.4 in inspect e2e test
  e2e/inspect/inspect.go
Labels: ci:e2e
