Repository hpcng/singularity, pull requests merged in 2020-08, with the labels that each got.

#5463 Reworked RPC capability handling to fix regression issue during overlay mount
  cmd/starter/c/starter.c
  e2e/actions/actions.go
  e2e/actions/regressions.go
  e2e/config/config.go
  e2e/run/run.go
  internal/pkg/runtime/engine/singularity/cleanup_linux.go
  internal/pkg/runtime/engine/singularity/rpc/server/server_linux.go
  pkg/util/capabilities/process_linux.go
  pkg/util/capabilities/process_linux_test.go
Labels: Bug, Regression, ci:e2e

#5475 Fix sshfs FUSE e2e tests to use ssh_config from the sshfs alpine image
  e2e/actions/actions.go
Labels: Testing, ci:e2e

#5487 Allow rw as (noop) bind option
  pkg/runtime/engine/singularity/config/config.go
Labels: Bug, Regression, ci:e2e

#5502 Fix LD_LIBRARY_PATH environment override regression with --nv/--rocm
  e2e/env/env.go
  internal/pkg/runtime/engine/singularity/process_linux.go
Labels: Bug, Regression, ci:e2e

#5509 fix: address 'Ctty not valid in child' in e2e-test
  e2e/internal/e2e/singularitycmd.go
Labels: Bug, ci:e2e, e2e

#5507 Fix environment variable duplication within singularity engine configuration
  internal/pkg/runtime/engine/config/oci/generate/generate.go
  internal/pkg/runtime/engine/config/oci/generate/generate_test.go
  internal/pkg/util/env/clean.go
  internal/pkg/util/env/clean_test.go
Labels: Bug, ci:e2e

#5519 fix: Don't fail if parent of cache dir not accessible
  e2e/cache/cache.go
  e2e/cache/regressions.go
  internal/pkg/cache/cache.go
Labels: Bug

#5506 Pass engine configuration through environment variables instead of a unix socket pair
  cmd/starter/c/include/starter.h
  cmd/starter/c/starter.c
  e2e/env/env.go
  e2e/env/regressions.go
  internal/pkg/runtime/engine/config/starter/starter_linux.go
  internal/pkg/util/starter/starter.go
  internal/pkg/util/starter/starter_linux.go
  internal/pkg/util/starter/starter_unsupported.go
  mlocal/checks/project-post.chk
Labels: Bug, ci:e2e
